// Banner styling 

.banner {
    .container {
        height: 84vh;
        width: 100vw;
        background-image: url(../images/index/baner_1.png);
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text-container {
            margin-right: 30rem;

            h2 {
                font-size: 5rem;
                color: white;
            }

            p {
                margin-top: 4rem;
                font-size: 2rem;
                color: white;
                line-height: 1.2;
            }
        }
    }
}