// Banner styling 

.banner {
    .container {
        height: 84vh;
        width: 100vw;
        background-image: url(../images/index/baner_1.png);
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text-container {
            margin-right: 24rem;

            h2 {
                font-size: 5rem;
                color: white;
            }

            p {
                margin-top: 4rem;
                font-size: 2rem;
                color: white;
                line-height: 1.2;
            }
        }
    }
}


@media (max-width: 1499px) {
    // Banner styling

    .banner {
        .container {  
            .text-container {
                margin-right: 12rem;
    
                h2 {
                    font-size: 4.2rem;
                }
    
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    // Nav styling

    
}